

#item {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10;
}

#group {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10;
}

#childrens {
    -fx-background-color: beige;
    -fx-background-radius: 10;
}
#timerPopout {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 10;

}